---
transmission_with_openvpn_enabled: true # Please see docs about how to set VPN credentials
transmission_with_openvpn_available_externally: false

# directories
transmission_config_directory: "{{ docker_home }}/transmission/config"
transmission_download_directory: "{{ downloads_root }}"
transmission_watch_directory: "{{ torrents_root }}"

# uid / gid
transmission_openvpn_user_id: "0"
transmission_openvpn_group_id: "0"

# transmission config
transmission_openvpn_ratio_limit_enabled: true
transmission_openvpn_ratio_limit: "2"
transmission_openvpn_local_network: "192.168.1.0/24"

# network config
transmission_openvpn_webui_port: "9091"
transmission_openvpn_external_port: "51413"
transmission_openvpn_proxy_port: "3140"
transmission_openvpn_hostname: "transmission_openvpn"

transmission_openvpn_container_name: "transmission-openvpn"
transmission_openvpn_image_name: "haugene/transmission-openvpn"
transmission_openvpn_image_version: "latest"

# Transmission VPN Credentials
# If you're using Transmission with a VPN, you'll need to set these credentials.
# See https://github.com/haugene/docker-transmission-openvpn/ for supported VPN providers.
openvpn_username: "{{ github_openvpn_username }}"
openvpn_password: "{{ github_openvpn_password }}"
openvpn_provider: NORDVPN
openvpn_config: CA

# specs
transmission_openvpn_memory: 1g
